body {
    margin: 0;
    font-size: 1.3rem;
    font-family: Arial;
}

.horizontal-split {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left-pane {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#right-pane {
    background: url("https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color: white;
    background-position: center;
    background-size: cover;
}

#right-pane div p {
    margin: 0.5rem 0;
}

#messages-container {
    flex-grow: 1;
    overflow: auto;
}

#messages-container, #input-container, #right-pane {
    padding: 2rem;
}

.message .user {
    font-size: 1rem;
    opacity: 0.6;
    margin-bottom: 0;
}

.message .content {
    margin-top: 0;
}

#input-container {
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgb(242, 242, 242);
    border: none;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 100rem;
}

input:focus {
    outline: none;
}
